.content {
    grid-area: c;
    background-color: #d3d3d3;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content img {
    width: 100%;
}

.item img {
    border-radius: 50%;
    width: 50px;
}

.postBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.item {
    margin-bottom: 10px;
}
