
.content {
    grid-area: c;
    background-color: #2E4A62;
    padding: 10px;
}

.content img {
    width: 100%;
}

.item img {
    border-radius: 50%;
    width: 50px;
}

.postBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.item {
    margin-bottom: 10px;
}
