.header {
    grid-area: h;
    background-color: #2E4A62;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 120px;
    border-radius: 50%;
}

.logo {
    margin-left: 60px;
}

.loginBlock {
    float: right;
    margin-right: 20px;
}

.loginBlock a {
    color: white;
}