.diskBlock {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
}

.diskBlock img {
}

.ava {
    width: 200px;
    height: 200px;
}

.profileInfo img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.infoIcon {
    display: flex;
}